<div class="container">
  <blockquote>
    <p><%= @query %></p>
    <footer>You</footer>
  </blockquote>
</div>

<div class="container">
  <blockquote>
    <p><%= @answer %></p>
    <footer>Your coach</footer>
  </blockquote>
</div>

<%= link_to "Ask a new question", "ask" %>
